/.vscode
/node_modules
node_modules
/packages/**/node_modules 
/coverage
/packages/apps/vueapp/src/languages
/packages/apps/app/languages
/packages/apps/test
node_modules/ 
/packages/cli/baidu.api.txt
node_modules/
/.github/access key.txt 
.umi
.umi-production
/docs/dist
dist
/packages/runtime/dist
/.yalc
/versions.md
autopub.log
/versions.test.md
coverage
