/.vscode
/node_modules
node_modules
/packages/**/node_modules 
/coverage
/packages/apps/vueapp/src/languages
/packages/apps/app/languages
/packages/apps/test
node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
/packages/cli/baidu.api.txt
node_modules/
/.github/access key.txt
/docs/.vuepress/dist