.vscode
node_modules
/packages/cli/baidu.api.txt
/.github/access key.txt  
/.yalc
/versions.md
coverage
.turbo
dist/
packages/cli/src/languages/api.json
!packages/cli/src/languages/translates/*.bak*.json
