* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #fff;
  background: linear-gradient(120deg, #6a11cb 0%, #2575fc 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

.hero-title {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 20px;
  width: 45%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.card h2,
.card p {
  color: #fff;
}

.card a {
  color: #fff;
  text-decoration: underline;
}
