name: Publish Package

on:
    push:
        branches:
            - master

permissions:
    pull-requests: write
    contents: write
    id-token: write
    
concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    build-and-publish:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4

            - name: Setup Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: pnpm

            - name: Install pnpm
              run: npm install -g pnpm

            # 安装依赖
            - name: Install dependencies
              run: pnpm install  --no-frozen-lockfile
            - name: Build all packages
              run: pnpm build:all  
            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: changesets/action@v1
              with:
                  # This expects you to have a script called release which does a build for your packages and calls changeset publish
                  publish: pnpm publish:all
              env:
                  # this doesn't work but semantic-release works
                  # see https://github.com/sonofmagic/npm-lib-rollup-template/blob/main/.github/workflows/release.yml#L46
                  # NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  npm_config_registry: https://registry.npmjs.org
