name: Publish Package

on:
  push:
    branches:
      - master
    tags:
      - "v*"

permissions:
  id-token: write
  contents: write
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@6

      - name: Setup Node.js 24
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: npm install
        run: npm install -g pnpm@latest

      - name: install dependencies
        run: pnpm install --force

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run publish:all
